{% extends 'generic.html' %}

{% block headContent %}
    <title>ARIS - Articles & Communiqués</title>
    <style type="text/css">
        #nav1 a {
        border-bottom: none;
        }
        #nav1 a:nth-child(3) {
        /* border-bottom: none; */
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
        #nav2 a:nth-child(1) {
        border-bottom: none;
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
    </style>
{% endblock %}

{% block nav2Content %}
    <a href="/aticlesRetraites">Articles & Communiqués</a>
    <a href="/liensUtiles">Liens Utiles</a>
{% endblock %}

{% block sxnContent %}
    <div class="divFilInfos">
        <div class="italic10R">12/04/2022</div>
        Des personnes non autorisées ont réussi à accéder à des données personnelles administratives concernant environ 500 000 assurés de l’Assurance Maladie d’après les investigations en cours.<br>
        <a href="../static/doc/AMELI_Données_dérobées-l_Assurance_Maladie_met_en_garde_ses_assurés.pdf" target="_blank">AMELI_Données_dérobées-l_Assurance_Maladie_met_en_garde_ses_assurés.pdf</a>
        <br><br/>
        Chaque assuré concerné va recevoir un courrier ou un courriel de l’Assurance Maladie pour le prévenir et l’alerter sur les risques d’hameçonnage/phishing auquel il pourrait être confronté.
        <br><br/>
        Bien cordialement.
        <br><br/>
        Jean-Pierre Pampilli.
        <br><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">22/03/2022</div>
        Veuillez trouver ci-joints deux communiqués pour information :
        <br/><br/>
        - AGIRC-ARRCO – Les résultats de l’AGIRC-ARRCO confirment la robustesse du pilotage paritaire – 17/03/2022.<br/>
        <a href="../static/doc/20220321-12-2022-2-AGIRC-ARRCO_20220317_CP_Resultats-Agirc-Arrco-2021.pdf" target="_blank">20220321-12-2022-2-AGIRC-ARRCO_20220317_CP_Resultats-Agirc-Arrco-2021.pdf</a>
        <br/><br/>
        - Le déficit des comptes de la Sécurité Sociale en 2021 en nette amélioration par rapport à 2020, et moins creusé que prévu.<br/>
        <a href="../static/doc/20220321-12-2022-3-CP_16032022_cloture_des_comptes.pdf" target="_blank">20220321-12-2022-3-CP_16032022_cloture_des_comptes.pdf</a>
        <br/> <br/>
    Amicales salutations
    <br/> <br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">22/03/2022</div>
        A l'approche des élections présidentielles, veuillez trouver en annexe la lettre de la CFR aux candidats à l'élection.
        <br/><br/>
        Bien amicalement.
        <br/><br/>
        <a href="../static/doc/CFR_lettre_aux_candidats_&_engagements-20220307.pdf" target="_blank">CFR_lettre_aux_candidats_&_engagements-20220307.pdf</a>
        <br/><br/>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">15/03/2022</div>
        Si vous souhaitez participer à une consultation juridique du CSE CACIB vous trouverez ci-joint la procédure à suivre.
        <br/><br/>
        Pour toute information complémentaire ou inscription il y a lieu:
        <br/><br/>
        - d'appeler Nathalie GUILLOU au 01 57 87 28 58
        <br/><br/>
        - ou de lui adresser un mail: nathalie.guillou@ca-cib.com
        <br/><br/>
        Amicales salutations
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos"></div>
    <br/><br/>
{% endblock %}