<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styleAris.css">
    <title>Indosuez Paris</title>
</head>

<body class="carousel">
    <div class="divCarousel">
        <a href="/histoire"><button type="button">retour</button></a>
        &nbsp;&nbsp;<span class="bold">- Banque de l'Indochine Paris -</span>
    </div>
    <section class="sxnCarousel">
        <div class="divCarousel">
            {% for img in carouselParis %}
                <img class="imgCarousel-large" src="../static/img/indosuezParis/{{ img }}"/>
            {% endfor %}
        </div>
        <br/>
    </section>
</body>

</html>