{% extends 'generic.html' %}

{% block headContent %}
    <title>ARIS - Légal & Administratif</title>
    <style type="text/css">
         #nav1 a {
         border-bottom: none;
         }
        #nav1 a:nth-child(2) {
        /* border-bottom: none; */
         color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
         }
    </style>
{% endblock %}

{% block nav2Content %}
    <a href="/infosUtiles">Informations Utiles</a>
    <a href="/statutsAris">Statuts de l'ARIS</a>
    <a href="/conseilAdmin">Conseil d'Administration</a>
    <a href="/assembleesGales">Assemblées Générales</a>
    <a href="/mentionsLegales">Mentions Légales</a>
{% endblock %}

{% block sxnContent %}
    Légal & Administratif
{% endblock %}