{% extends 'generic.html' %}

{% block headContent %}
    <title>ARIS - Nos Défunts</title>
    <style type="text/css">
        #nav1 a {
        border-bottom: none;
        }
        #nav1 a:nth-child(5) {
        /* border-bottom: none; */
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
         }
        #nav2 a:nth-child(3) {
        border-bottom: none;
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
    </style>
{% endblock %}

{% block nav2Content %}
    <a href="/infosDiverses">Informations Diverses</a>
    <a href="/petitesAnnonces">Petites Annonces</a>
    <a href="/necrologie">Ils Nous Ont Quittés</a>
{% endblock %}

{% block sxnContent %}
    <ul>
        {% for fch in fchS %}
        <li>
            <a href="../static/ncro/{{ fch }}" target="_blank">{{ fch }}</a>
        </li>
        <br/>
        {% endfor %}
    </ul>
    <br/><br/>
{% endblock %}