{% extends 'generic.html' %}

{% block headContent %}
    <title>ARIS - Programmes d'Activités</title>
    <style type="text/css">
        #nav1 a {
        border-bottom: none;
        }
        #nav1 a:nth-child(4) {
        /* border-bottom: none; */
        color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
        #nav2 a:nth-child(1) {
        border-bottom: none;
         color: var(--indosuez-color);
        font-weight: bold;
        background-color: var(--wheat-color);
        }
    </style>
{% endblock %}

{% block nav2Content %}
    <a href="/programsActivites">Programmes</a>
    <a href="/comptesRendus">Comptes Rendus</a>
{% endblock %}

{% block sxnContent %}
    <ul>
        <li><a href="../static/doc/programmeSortiesCulturelles2022.pdf" target="_blank">Programme des Sorties Culturelles 2022</a></li>
        <br/>
        <li><a href="../static/doc/catalogueVoyages2022.pdf" target="_blank">Catalogue des Voyages 2022</a></li>
        <br/>
    </ul>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">11/03/2022</div>
        Nous venons de recevoir une proposition de séjour pour LE MONT DORE au pied du Sancy, eaux thermales et nature préservée.  A 1km du centre-ville la Prade Haute, départ idéal pour randonnées botaniques. La région est riche en patrimoine historique, églises romanes, châteaux et forteresses etc.
        <br/><br/>
        Piscine intérieure chauffée, espace forme : 2 bains à remous, hammam, sauna, salle de sport. Massages proposés à tarif préférentiel
        <br/><br/>
        Du 3 au 10 septembre 2022, 8 jours/7nuits en pension complète pour 370€ par personne. Ce prix comprend :
        <br/>
        - La pension complète sous forme de buffets, vin en carafe compris aux repas, du dîner du 1er jour au petit-déjeuner du dernier jour.
        <br/>
        - L’animation de journée et de soirée.
        <br/>
        - L’assurance assistance-rapatriement, avec garanties Covid.
        <br/>
        - L’assurance optionnelle (annulation/interruption de séjour) avec garanties Covid.
        <br/><br/>
        Voici quelques exemples d’excursions autour du Mont Dore :
        <br/>
        - MONTEE AU PUY DU SANCY En téléphérique au Puy de Sancy (1 886 mètres).
        <br/>
        - CLERMONT-FERRAND – VULCANIA
        <br/>
        - LACS ET MONTS D’AUVERGNE A Murat-Le-Quaire, visite du musée de la Toinette, un scénomusée
        <br/>
        - TOUR DU SANCY BESSE - LE LAC PAVIN Visite guidée de la cité médiévale fortifiée de Besse-en-Chandesse
        <br/>
        - CHATEAUX ET LACS DE HAUTE AUVERGNE Départ pour le Cantal pour atteindre la ville d’Auzers. Visite guidée du Château
        <br/><br/>
        Si vous êtes intéressé(e), et afin de mettre une option sur ce séjour,  nous vous demandons de bien vouloir envoyer votre demande d’inscription à:<br/>
        Evelyne Perrin<br/>
         &nbsp;&nbsp;Soit par mail : evep50@free.fr<br/>
        &nbsp;&nbsp;Soit par courrier : 112 rue de Paris 77200  Torcy
        <br/><br/>
        Recevez, chère amie, cher ami, nos amicales salutations.
        <br/><br/>
        Evelyne Perrin<br/>
        Responsable des voyages
        <br/><br/>
        <a href="../static/doc/2022-Le_Mont_Dore-Présentation-20220311.pdf" target="_blank">2022-Le_Mont_Dore-Présentation-20220311.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">09/03/2022</div>
        Nous vous informons qu'il reste des places disponibles, jeudi 13 octobre 2022 à  DOURDAN, pour la visite du château et du MOULIN DE VILLENEUVE, demeure de Louis Aragon et d'Elsa Triolet.
        <br/><br/>
        Le prix de 78,00€ comprend : le transport en autocar, le déjeuner avec boisson (1/4 vin et café) et les visites guidées.
        <br/>
        Il ne comprend pas les dépenses personnelles.
        <br/><br/>
        Si vous êtes intéressé, nous vous demandons de bien vouloir envoyer à Martine Moulin, 205, rue des Moulins, 78370 Plaisir, avant le 30 avril , le bulletin d'inscription, ci-joint, accompagné d'un chèque de 78,00€ à l'ordre de l'ARIS.
        <br/><br/>
        Recevez, chère amie, cher ami, nos amicales salutations.
        <br/><br/>
        Martine Moulin<br/>
        Responsable des sorties culturelles
        <br/><br/>
        <a href="../static/doc/Sortie_Dourdan-Bulletin_Inscription-20220309.pdf" target="_blank">Sortie_Dourdan-Bulletin_Inscription-20220309.pdf</a>
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos">
        <div class="italic10R">07/03/2022</div>
        Le CSE nous informe qu’il reste des places disponibles pour le prochain événement "Le Siècle des Lumières", dans les superbes salons à l'hôtel Westin Paris Vendôme, au 3 rue de Castiglione, 75001 Paris.
        <br/><br/>
        Initialement cet évènement avait été prévu  le 20 janvier 2022 puis reporté, en raison du Covid, au mardi 31 mai 2022, de 11h30 à 17h00.
        <br/><br/>
        Vous pouvez vous inscrire et régler en ligne votre participation de 48€ par personne jusqu'au 27 mars sur le site du Comité Social et Economique de CACIB<br/>
        – www.cse.ca-cib.com : Rencontre Retraités - JE M'INSCRIS !
        <br/><br/>
        La participation au 31 mai est maintenue d'office pour les personnes déjà inscrites ayant réglé la prestation.
        <br/><br/>
        Si vous étiez déjà inscrit, mais plus disponible à cette nouvelle date, le CSE vous demande de bien vouloir communiquer votre désistement pour remboursement (ou toute autre question)<br/>
        à Nathalie GUILLOU : nathalie.guillou@ca-cib.com  
        <br/><br/>
        Le passe-vaccinal à jour sera exigé, sous réserve des consignes sanitaires en vigueur à cette date.
        <br/><br/>
        Jean-Pierre Pampilli
        <br/><br/>
    </div>
    <!---->
    <div class="divFilInfos"></div>
    <br/><br/>
{% endblock %}